---
import Layout from "@/layouts/Layout.astro";

import Footer from "../Footer.astro";
const H1 =
  "mx-auto mt-16 mb-4 text-wrap text-4xl font-semibold tracking-wide uppercase";
---

<Layout description="Politicas de privacidad" title="Política  de privaciadad">
  <main>
    <section
      class="max-w-5xl mx-auto my-24 text-pretty px-6 text-left text-lg leading-relaxed  sm:px-20"
    >
      <h1 class=`${H1}`>Política de Privacidad</h1>
      <p>
        En STAR GOLD, nos comprometemos a proteger tu privacidad. Esta Política de Privacidad explica cómo recopilamos, usamos y protegemos tu información personal.
      </p>
      <h1 class=`${H1}`>¿Qué información recopilamos?</h1>
      <p>Podemos recopilar información personal, como tu nombre, dirección de correo electrónico, número de teléfono y detalles de pago cuando te registras para una cuenta o utilizas nuestros servicios.</p>
      <h1 class=`${H1}`>¿Cómo utilizamos tu información?</h1>
      <p>Utilizamos tu información para proporcionarte nuestros servicios, procesar pagos, comunicarnos contigo y mejorar nuestros servicios.</p>
      <h1 class=`${H1}`>¿Cómo protegemos tu información?</h1>
      <p>Implementamos medidas de seguridad para proteger tu información personal contra el acceso no autorizado, la alteración, la divulgación o la destrucción.</p>
      <h1 class=`${H1}`>¿Compartimos tu información?</h1>
      <p>No vendemos, comercializamos ni transferimos tu información personal a terceros sin tu consentimiento, excepto cuando sea necesario para proporcionar nuestros servicios o cumplir con la ley.
        </p>
      <h1 class=`${H1}`>Cambios en nuestra Política de Privacidad</h1>
      <p>
        Podemos actualizar nuestra Política de Privacidad de vez en cuando. Te recomendamos revisar esta política periódicamente para cualquier cambio.</p>
        <p>Si tienes alguna pregunta sobre nuestra Política de Privacidad, no dudes en contactarnos.</p>
        <p class="!text-">
          Esta Política de Privacidad se actualizó por última vez el 1 de enero de 2024.
        </p>
    </section>
  </main>
  <Footer />
</Layout>
