---
import "photoswipe/style.css";
import { fetchContent } from '@astrojs/renderer-fetch';

const { edicion } = Astro.props;
const data = await fetchContent(`./public/star-gold/${edicion}/data.json`);
const limit = Object.assign({ "1": { maxPhotos: 27 }, "2": { maxPhotos: 104}})[edicion] ?? {}
const { maxPhotos = 0 } = limit;
---

<div class='grid grid-cols-3 max-w-6xl gap-8 mx-auto py-20' id='gallery'>
  {
    data[0].photo.slice(0, maxPhotos).map((photo, i) => (
      <a
        class='group rounded-xl hover:scale-105 transition-all relative aspect-square'
        href={photo.url}
        target='_blank'
        data-cropped='true'
        data-pswp-width={photo.width}
        data-pswp-height={photo.height}
      >
        <img
          class='rounded-xl aspect-square object-cover'
          loading='lazy'
          src={photo.url}
          alt=''
        />
        <img
          class='blur-lg absolute inset-0 transition group-hover:contrast-150 opacity-70 -z-10 object-cover'
          loading='lazy'
          src={photo.url}
          alt=''
        />
      </a>
    ))
  }
</div>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });

  lightbox.init();
</script>